
body {
    padding-top: 64px;
    background-color: #f3f2ef;

}

nav.navbar {
    border-bottom: 1px solid #c7c7c7;
}

.navbar-brand {
    font-weight: 500;
}

header div h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

header div p.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    color: #4b4b4b;
}

#facepic {
    max-width: 300px;
    object-fit: cover;
    width: auto;
    border-radius: 10px;
}

p.subtitle > em {
    font-weight: 400;

}

.contactpart {
    color: #000;
    text-decoration: none;
    font-size: 1.3rem;
}

.contacttext {
    display: inline-block;
    width: auto;
    margin-left: 1rem;
    border-bottom: 2px solid rebeccapurple;
    padding-bottom: 0.1em;
}

.container {
    max-width: 900px;
}

.sociallinks {
    font-size: 1.5rem;
}

#musicSection
