
body {
    padding-top: 64px;
}

.navbar-brand {
    font-weight: 500;
}
 header div h1{
     font-size: 2.5rem;
     font-weight: 700;
 }

header div p.subtitle{
    font-size: 1.3rem;
    font-weight: 300;
    color: #4b4b4b;
}
#facepic {
    max-width: 300px;
    border-radius: 10px;
    height: auto;
}
